# Lists, Tuples, Dictionries, Set

Lists - Allows Duplicate Member, Changeable, Ordered, Square Bracket []

Tuples - Allows Duplicate Member, Not Changeable, Ordered, Round Bracket ()

Dictionary - No Duplicate Member, Changeable / Indexed, Un-Ordered, Curley Bracket {}

Set - Not Duplicate Member, Cannot be Change/ But Can Be Added / Non-Indexed, Un-Ordered, Curley Bracket {}

## Python List

In [1]:
list1 = list()

print(list1)

print(type(list1))

[]
<class 'list'>

In [2]:
list2 = list(('PyTorch', True, 202, "Data Analysis", False, 404))

print(list2)

['PyTorch', True, 202, 'Data Analysis', False, 404]

In [3]:
list3 = ["Uber", "Food Panda", 'Wolt', 'Hungerstation', "Pathao"]

print(list3)

print(type(list3))

['Uber', 'Food Panda', 'Wolt', 'Hungerstation', 'Pathao']
<class 'list'>

In [4]:
list4 = [10, 20, 15, 25, 30, 40, 35, 50, 45, 60]

print(list4)

[10, 20, 15, 25, 30, 40, 35, 50, 45, 60]

In [5]:
list5 = [True, False, True, False, False]

print(list5)

[True, False, True, False, False]

In [6]:
list6 = ['Dhaka', 'New-Delhi', 'Dubai', 101, False, 'Bangkok', 'Berlin', 'Paris', True, 301]

print(list6)

['Dhaka', 'New-Delhi', 'Dubai', 101, False, 'Bangkok', 'Berlin', 'Paris', True, 301]

In [7]:
# Access List Item

list7 = ['Microsoft', 'IBM', 'Cisco', 'SQL', 'Flutter', 'Dart', "JAVA", 'Go Lang', "C-Program"]

print(list7)
print(f"\n\tList7[1] - {list7[1]}")
print(f"\n\tList7[4] - {list7[4]}")
print(f"\n\tList7[-1] - {list7[-1]}")
print(f"\n\tList7[-2] - {list7[-2]}")
print(f"\n\tList7[3:6] - {list7[3:6]}")
print(f"\n\tList7[-6:-2] - {list7[-6:-2]}")
print(f"\n\tList7[3:] - {list7[3:]}")
print(f"\n\tList7[:5] - {list7[:5]}")

['Microsoft', 'IBM', 'Cisco', 'SQL', 'Flutter', 'Dart', 'JAVA', 'Go Lang', 'C-Program']

	List7[1] - IBM

	List7[4] - Flutter

	List7[-1] - C-Program

	List7[-2] - Go Lang

	List7[3:6] - ['SQL', 'Flutter', 'Dart']

	List7[-6:-2] - ['SQL', 'Flutter', 'Dart', 'JAVA']

	List7[3:] - ['SQL', 'Flutter', 'Dart', 'JAVA', 'Go Lang', 'C-Program']

	List7[:5] - ['Microsoft', 'IBM', 'Cisco', 'SQL', 'Flutter']

In [8]:
list8 = ['Apple', 'iPhone', 'MacBook', 'iPad', 'iPod', 'Lenovo']

print(list8)

if 'iPhone' in list8:
    print("Yes, iPhone is available in List8.")

['Apple', 'iPhone', 'MacBook', 'iPad', 'iPod', 'Lenovo']
Yes, iPhone is available in List8.

In [9]:
list8 = ['Apple', 'iPhone', 'MacBook', 'iPad', 'iPod', 'Lenovo']

print(list8)

if 'Dell' in list8:
    print("Yes, Dell is available in List8.")
else:
    print("No, Dell is not present in List8.")

['Apple', 'iPhone', 'MacBook', 'iPad', 'iPod', 'Lenovo']
No, Dell is not present in List8.

In [10]:
# Change List Item

apple = ['iPhone', 'MacBook', 'MacBook Air', 'iPod']

print(apple)

apple[1] = "Lenovo ThinkPad"
apple[-1] = "iPad"

print(apple)

['iPhone', 'MacBook', 'MacBook Air', 'iPod']
['iPhone', 'Lenovo ThinkPad', 'MacBook Air', 'iPad']

In [11]:
city = ['New York', 'California', 'London', 'Paris', 'Vancouver']

print(city)

city[2:4] = ['Texas', 'Toronto']

print(city)

city[2:4] = ["DUBAI"]

print(city)

['New York', 'California', 'London', 'Paris', 'Vancouver']
['New York', 'California', 'Texas', 'Toronto', 'Vancouver']
['New York', 'California', 'DUBAI', 'Vancouver']

In [12]:
pro = ['Python', 'Django', "SciKit-Learn", 'Pandas', 'Numpy', 'Flask']

print(pro)
print(pro[2])
print(pro[0:2])

pro.insert(2, 'Matplotlib')

print(pro)

['Python', 'Django', 'SciKit-Learn', 'Pandas', 'Numpy', 'Flask']
SciKit-Learn
['Python', 'Django']
['Python', 'Django', 'Matplotlib', 'SciKit-Learn', 'Pandas', 'Numpy', 'Flask']

In [13]:
# Add List Item

data = ['Excel', 'Python', 'SQL', 'R']

print(data)

data.append('Power-BI')
data.append('Tableu')

print(data)

['Excel', 'Python', 'SQL', 'R']
['Excel', 'Python', 'SQL', 'R', 'Power-BI', 'Tableu']

In [14]:
data = ['Excel', 'Python', 'SQL', 'R']

print(data)

data.insert(0, 'Power-BI')

print(data)

['Excel', 'Python', 'SQL', 'R']
['Power-BI', 'Excel', 'Python', 'SQL', 'R']

In [15]:
excel = ["If", 'Sum', 'Pivot-Table', 'Lookup']

sql = ['create', 'left-join', 'right-join', 'inner-join', 'drop-table']

print(excel)
print(sql)

excel.extend(sql)

print(excel)

['If', 'Sum', 'Pivot-Table', 'Lookup']
['create', 'left-join', 'right-join', 'inner-join', 'drop-table']
['If', 'Sum', 'Pivot-Table', 'Lookup', 'create', 'left-join', 'right-join', 'inner-join', 'drop-table']

In [16]:
# Python - Remove List Items

tech = ['Tesla', 'Twitter', 'Google', 'Cisco', 'Apple']

print(tech)

tech.remove('Twitter')

print(tech)

['Tesla', 'Twitter', 'Google', 'Cisco', 'Apple']
['Tesla', 'Google', 'Cisco', 'Apple']

In [17]:
tech = ['Tesla', 'Twitter', 'Google', 'Cisco', 'Apple']

print(tech)

tech.pop(2)

print(tech)

['Tesla', 'Twitter', 'Google', 'Cisco', 'Apple']
['Tesla', 'Twitter', 'Cisco', 'Apple']

In [18]:
tech = ['Tesla', 'Twitter', 'Google', 'Cisco', 'Apple']

print(tech)

tech.pop()

print(tech)

['Tesla', 'Twitter', 'Google', 'Cisco', 'Apple']
['Tesla', 'Twitter', 'Google', 'Cisco']

In [19]:
tech = ['Tesla', 'Twitter', 'Google', 'Cisco', 'Apple']

print(tech)

tech.pop(1)

print(tech)

['Tesla', 'Twitter', 'Google', 'Cisco', 'Apple']
['Tesla', 'Google', 'Cisco', 'Apple']

In [20]:
tech = ['Tesla', 'Twitter', 'Google', 'Cisco', 'Apple']

print(tech)

del tech[0]

print(tech)

['Tesla', 'Twitter', 'Google', 'Cisco', 'Apple']
['Twitter', 'Google', 'Cisco', 'Apple']

In [21]:
tech = ['Tesla', 'Twitter', 'Google', 'Cisco', 'Apple']

print(tech)

del tech

print(tech)

['Tesla', 'Twitter', 'Google', 'Cisco', 'Apple']

NameError: name 'tech' is not defined

In [22]:
tech = ['Tesla', 'Twitter', 'Google', 'Cisco', 'Apple']

print(tech)

tech.clear()

print(tech)

['Tesla', 'Twitter', 'Google', 'Cisco', 'Apple']
[]

In [23]:
# Python - Loop Lists

loop = ['SQL', 'Tableau', 'Python', 'Power-BI', 'Excel', True, 2023]

print(loop)

for x in loop:
    print(x)

['SQL', 'Tableau', 'Python', 'Power-BI', 'Excel', True, 2023]
SQL
Tableau
Python
Power-BI
Excel
True
2023

In [24]:
loop = ['SQL', 'Tableau', 'Python', 'Power-BI', 'Excel', True, 2023]

print(loop)

for x in range(len(loop)):
    print(loop[x])

['SQL', 'Tableau', 'Python', 'Power-BI', 'Excel', True, 2023]
SQL
Tableau
Python
Power-BI
Excel
True
2023

In [25]:
loop = ['SQL', 'Tableau', 'Python', 'Power-BI', 'Excel', True, 2023]

i = 0

while i < len(loop):
    print(loop[i])
    i += 1

SQL
Tableau
Python
Power-BI
Excel
True
2023

In [26]:
loop = ['SQL', 'Tableau', 'Python', 'Power-BI', 'Excel', True, 2023]

[print(x) for x in loop]

SQL
Tableau
Python
Power-BI
Excel
True
2023

[None, None, None, None, None, None, None]

List Comprehension

In [27]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    if "a" in x:
        newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [28]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = []

for x in fruits:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'cherry', 'kiwi', 'mango']

In [29]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

In [30]:
# Sort List

serial = ['New York', 'Toronto', 'London', 'Dhaka', 'Auckland', 'Singapore', 'Berlin', 'Zvartnots', 'Rome']

serial.sort()

print(serial)

['Auckland', 'Berlin', 'Dhaka', 'London', 'New York', 'Rome', 'Singapore', 'Toronto', 'Zvartnots']

In [31]:
serial = ['New York', 'Toronto', 'London', 'Dhaka', 'Auckland', 'Singapore', 'Berlin', 'Zvartnots', 'Rome']

serial.sort(reverse = True)

print(serial)

['Zvartnots', 'Toronto', 'Singapore', 'Rome', 'New York', 'London', 'Dhaka', 'Berlin', 'Auckland']

In [32]:
series = [50, 40, 60, 80, 100, 20, 90, 10, 30, 70]

series.sort()

print(series)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [33]:
series = [50, 40, 60, 80, 100, 20, 90, 10, 30, 70]

series.sort(reverse = True)

print(series)

[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

Python - Copy Lists

In [34]:
serial = ['New York', 'Toronto', 'London', 'Dhaka', 'Auckland', 'Singapore', 'Berlin', 'Zvartnots', 'Rome']

city = serial.copy()

print(city)

['New York', 'Toronto', 'London', 'Dhaka', 'Auckland', 'Singapore', 'Berlin', 'Zvartnots', 'Rome']

In [35]:
# List Copy

newCity = list(city)

print(newCity)

['New York', 'Toronto', 'London', 'Dhaka', 'Auckland', 'Singapore', 'Berlin', 'Zvartnots', 'Rome']

In [36]:
newCity.sort(reverse = True)

print(newCity)

['Zvartnots', 'Toronto', 'Singapore', 'Rome', 'New York', 'London', 'Dhaka', 'Berlin', 'Auckland']

In [37]:
# Python - Join Lists

city1 = ['Berlin', 'California', 'Toronto']
city2 = ['London', 'Dubai', 'Dhaka']

city = city1 + city2

print(city)

['Berlin', 'California', 'Toronto', 'London', 'Dubai', 'Dhaka']

In [38]:
city1 = ['Berlin', 'California', 'Toronto']
city2 = ['London', 'Dubai', 'Dhaka']
city3 = list()

for x in (city1 + city2):
    city3.append(x)

print(city3)

['Berlin', 'California', 'Toronto', 'London', 'Dubai', 'Dhaka']

In [39]:
city1 = ['Berlin', 'California', 'Toronto']
city2 = ['London', 'Dubai', 'Dhaka']
cityex = []

cityex.extend(city2)

print(cityex)

['London', 'Dubai', 'Dhaka']

## Python Tuples

In [40]:
tuples = tuple()

print(type(tuples))

<class 'tuple'>

In [41]:
tapol = tuple(('Apple', 101, True))

print(tapol)
print(type(tapol))

('Apple', 101, True)
<class 'tuple'>

In [42]:
tapol = ('Apple', 'Samsung', 'Sony', 'One-Plus', 'Vivo')

print(tapol)

('Apple', 'Samsung', 'Sony', 'One-Plus', 'Vivo')

In [43]:
tapon = (10, 30, 40, 80, 20, 90, 70, 60, 10, 90, 40)

print(tapon)

print(type(tapon))

(10, 30, 40, 80, 20, 90, 70, 60, 10, 90, 40)
<class 'tuple'>

In [44]:
tapol = ("Dell", "HP", "Lenovo")

print(tapol[1])

HP

In [45]:
# Access Tapol

tapol = ("Dhaka", "Dubai", "Singapore", "Tokyo", "Sydney", "Auckland", "London", "Paris", "Bercelona", 'Madrid', 'Vancouver')

print(tapol)
print("\ntapol[1:5]")
print(tapol[1:5])
print("\ntapol[:5]")
print(tapol[:5])
print("\ntapol[5:]")
print(tapol[5:])
print("\ntapol[-1]")
print(tapol[-1])
print("\ntapol[-5:-1]")
print(tapol[-5:-1])
print("\ntapol[-5:]")
print(tapol[-5:])

('Dhaka', 'Dubai', 'Singapore', 'Tokyo', 'Sydney', 'Auckland', 'London', 'Paris', 'Bercelona', 'Madrid', 'Vancouver')

tapol[1:5]
('Dubai', 'Singapore', 'Tokyo', 'Sydney')

tapol[:5]
('Dhaka', 'Dubai', 'Singapore', 'Tokyo', 'Sydney')

tapol[5:]
('Auckland', 'London', 'Paris', 'Bercelona', 'Madrid', 'Vancouver')

tapol[-1]
Vancouver

tapol[-5:-1]
('London', 'Paris', 'Bercelona', 'Madrid')

tapol[-5:]
('London', 'Paris', 'Bercelona', 'Madrid', 'Vancouver')

In [46]:
tapol = ("Dhaka", "Dubai", "Singapore", "Tokyo", "Sydney", "Auckland", "London", "Paris", "Bercelona", 'Madrid', 'Vancouver')

if "Dhaka" in tapol:
    print("Asian City List in This Tapol")
else:
    print("Dhaka is Not Available Here")

Asian City List in This Tapol

In [47]:
tapol = ("Dhaka", "Dubai", "Singapore", "Tokyo", "Sydney", "Auckland", "London", "Paris", "Bercelona", 'Madrid', 'Vancouver')

if "Dhaka" not in tapol:
    print("Yes. Dhaka City is not List in This Tapol")
else:
    print("Dhaka City is Available Here")

Dhaka City is Available Here

In [48]:
tapol = ("Dhaka", "Dubai", "Singapore", "Tokyo", "Sydney", "Auckland", "London", "Paris", "Bercelona", 'Madrid', 'Vancouver')

if "New-York" in tapol:
    print("New-York City List in This Tapol")
else:
    print("New-York is Not Available Here")

New-York is Not Available Here

In [49]:
tapol = ("Dhaka", "Dubai", "Singapore", "Tokyo", "Sydney", "Auckland", "London", "Paris", "Bercelona", 'Madrid', 'Vancouver')

if "Berlin" not in tapol:
    print("Yes, Berlin City is Not List in This Tapol")
else:
    print("Berlin is Available Here")

Yes, Berlin City is Not List in This Tapol

In [50]:
# Change Tuple Values

# Convert the tuple into a list to be able to change it:

ab = ('Car', "Bike", "Cycle")

a = list(ab)

a[1] = "Bus"

ab = tuple(a)

print(ab)

('Car', 'Bus', 'Cycle')

In [51]:
# Add Tuple Values

# Convert the tuple into a list to be able to change it:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [52]:
# add tuple item

x = ('Hello', "Hi", 'Bye')

y = ("Ok", 'Good')

x += y

print(x)
print(type(x))

('Hello', 'Hi', 'Bye', 'Ok', 'Good')
<class 'tuple'>

In [53]:
# Convert the tuple into a list, remove "apple", and convert it back into a tuple:

thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

print(thistuple)

('banana', 'cherry')

In [54]:
# The del keyword can delete the tuple completely:

thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

In [55]:
# Unpacking a tuple:

fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [56]:
fruits = ("apple", "banana", "cherry")

(f1, f2, f3) = fruits

print(f1)
print(f2)
print(f3)

apple
banana
cherry

In [57]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [58]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [59]:
# Loop Through a Tuple

thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [60]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

## Python Dictionary

In [61]:
empty_dict = {}

print(empty_dict)
print(type(empty_dict))

{}
<class 'dict'>

In [62]:
dic = {
    'Name': "Sohel",
    'Sub' : 'Information Technology',
    "Roll" : 202315
}

dic

{'Name': 'Sohel', 'Sub': 'Information Technology', 'Roll': 202315}

In [63]:
dic['Name']

'Sohel'

In [64]:
dic['Sub']

'Information Technology'

In [65]:
dicc = {
    'Brand' : "BMW",
    'Model' : 2021,
    'Speed' : "2000 Km/Hr",
    'AI' : "Yes"
}

dicc

{'Brand': 'BMW', 'Model': 2021, 'Speed': '2000 Km/Hr', 'AI': 'Yes'}

In [66]:
# Access Dictionary Item
dicc['Model']

2021

In [67]:
dicc['Price']

KeyError: 'Price'

In [68]:
x = dicc.keys()

print(x)

dict_keys(['Brand', 'Model', 'Speed', 'AI'])

In [69]:
# Add Dictionary Key Values

dicc['Price'] = "$240,000"

print(x)

dict_keys(['Brand', 'Model', 'Speed', 'AI', 'Price'])

In [70]:
dicc

{'Brand': 'BMW',
 'Model': 2021,
 'Speed': '2000 Km/Hr',
 'AI': 'Yes',
 'Price': '$240,000'}

In [71]:
y = dicc.values()

print(y)

dict_values(['BMW', 2021, '2000 Km/Hr', 'Yes', '$240,000'])

In [72]:
for x1 in x:
    print(f"{x1}")

Brand
Model
Speed
AI
Price

In [73]:
# Change Dic Item

dicc.update({'Price': 2000000})

dicc

{'Brand': 'BMW',
 'Model': 2021,
 'Speed': '2000 Km/Hr',
 'AI': 'Yes',
 'Price': 2000000}

In [74]:
# Remove item

dicc.pop('AI')

dicc

{'Brand': 'BMW', 'Model': 2021, 'Speed': '2000 Km/Hr', 'Price': 2000000}

In [75]:
dicc.popitem()

dicc

{'Brand': 'BMW', 'Model': 2021, 'Speed': '2000 Km/Hr'}

In [76]:
print(dicc)

{'Brand': 'BMW', 'Model': 2021, 'Speed': '2000 Km/Hr'}

In [77]:
for x in dicc:
    print(x)

Brand
Model
Speed

In [78]:
for y in dicc.values():
    print(y)

BMW
2021
2000 Km/Hr

In [79]:
for xy in dicc.keys():
    print(xy)

Brand
Model
Speed

In [80]:
for x, y in dicc.items():
    print(f"{x} - {y}")

Brand - BMW
Model - 2021
Speed - 2000 Km/Hr

In [81]:
newd = dicc.copy()

print(newd)

{'Brand': 'BMW', 'Model': 2021, 'Speed': '2000 Km/Hr'}

In [82]:
mydic = dict(newd)

print(mydic)

{'Brand': 'BMW', 'Model': 2021, 'Speed': '2000 Km/Hr'}

In [83]:
# Nested Dictionary

apple = {
    'MacBook': {
        'Name': 'MacBook Air',
        'Model': 2021,
        'Price': 1349
    },
    'iPhone': {
        'Name': 'iPhone 15 Pro',
        'Model': 2023,
        'Price': 1750
    },
    'AirPod': {
        'Name': 'AirPod',
        'Model': 2022,
        'Price': 249
    }
}

print(apple)

{'MacBook': {'Name': 'MacBook Air', 'Model': 2021, 'Price': 1349}, 'iPhone': {'Name': 'iPhone 15 Pro', 'Model': 2023, 'Price': 1750}, 'AirPod': {'Name': 'AirPod', 'Model': 2022, 'Price': 249}}

In [84]:
print(apple['iPhone'])

{'Name': 'iPhone 15 Pro', 'Model': 2023, 'Price': 1750}

In [85]:
print(apple['iPhone']['Price'])

1750

In [86]:
print(apple['MacBook']['Name'])

MacBook Air

In [87]:
print(apple['AirPod']['Model'])

2022

In [88]:
# Nested Dictionary

iPhone = {
    'Name': 'iPhone 13 Pro',
    'Color': 'Space Grey',
    'Model': 2021
}

iPhone2 = {
    'Name': 'iPhone 14 Pro',
    'Color': 'Light Blue',
    'Model': 2022
}

iPhone3 = {
    'Name': 'iPhone 15 Pro',
    'Color': 'White',
    'Model': 2023
}

apple = {
    'app1' : iPhone,
    'app2' : iPhone2,
    'app3' : iPhone3
}

print(apple['app2'])

{'Name': 'iPhone 14 Pro', 'Color': 'Light Blue', 'Model': 2022}

In [89]:
print(apple)

{'app1': {'Name': 'iPhone 13 Pro', 'Color': 'Space Grey', 'Model': 2021}, 'app2': {'Name': 'iPhone 14 Pro', 'Color': 'Light Blue', 'Model': 2022}, 'app3': {'Name': 'iPhone 15 Pro', 'Color': 'White', 'Model': 2023}}

In [90]:
print(apple["app3"]["Name"])

iPhone 15 Pro

In [91]:
print(apple["app2"]["Color"])

Light Blue

In [92]:
# Removes all item dicc

apple.clear()

print(apple)

{}

### Dictionary Method

**Method Description** <br>
clear()	Removes all the elements from the dictionary <br>
copy()	Returns a copy of the dictionary <br>
fromkeys()	Returns a dictionary with the specified keys and value <br>
get()	Returns the value of the specified key <br>
items()	Returns a list containing a tuple for each key value pair <br>
keys()	Returns a list containing the dictionary's keys <br>
pop()	Removes the element with the specified key <br>
popitem()	Removes the last inserted key-value pair <br>
setdefault()	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value <br>
update()	Updates the dictionary with the specified key-value pairs <br>
values()	Returns a list of all the values in the dictionary <br>

## Python Sets

In [93]:
# Unordered Unchangeable Duplicate Values Not Allowed

tset = {'Apple', "IBM", "Google", 'SEO', 'IBM'}

print(tset)

{'SEO', 'Apple', 'Google', 'IBM'}

In [94]:
sett = {'Sohel', True, 1, 3}

sett

{3, 'Sohel', True}

In [95]:
print(len(sett))

3

In [96]:
sett = {'apple', 'banana', 'strawberry', 'cherry'}

for x in sett:
    print(x)

cherry
apple
banana
strawberry

In [97]:
print('apple' in sett)

True

In [98]:
print('Data' in sett)

False

In [99]:
sett.add('Orange')

sett

{'Orange', 'apple', 'banana', 'cherry', 'strawberry'}

In [100]:
set1 = {'SEO', 'Google Ads', 'FaceBook Ads'}
set2 = {'Data Science', 'Web Dev', 'Django', 'React'}

set1.update(set2)

print(set1)
print(set2)

{'SEO', 'Data Science', 'Django', 'Web Dev', 'React', 'FaceBook Ads', 'Google Ads'}
{'Web Dev', 'Django', 'React', 'Data Science'}

In [101]:
#  Remove Item

set1.remove('Web Dev')

print(set1)

{'SEO', 'Data Science', 'Django', 'React', 'FaceBook Ads', 'Google Ads'}

In [102]:
set1.discard('FaceBook Ads')

print(set1)

{'SEO', 'Data Science', 'Django', 'React', 'Google Ads'}

In [103]:
# Random Remove

set1.pop()

print(set1)

{'Data Science', 'Django', 'React', 'Google Ads'}

In [104]:
set1.pop()

print(set1)

{'Django', 'React', 'Google Ads'}

In [105]:
# Empties the set

set1.clear()

print(set1)

set()

In [106]:
# del will delete set completely

del set1

print(set1)

NameError: name 'set1' is not defined

In [107]:
for x in set2:
    print(x)

Web Dev
Django
React
Data Science

In [108]:
set1 = {"a", "b" , "c"}

set3 = set1.union(set2)
print(set3)

{'React', 'Django', 'c', 'b', 'Web Dev', 'a', 'Data Science'}

In [109]:
set1.update(set2)

print(set1)

{'React', 'Django', 'c', 'b', 'Web Dev', 'a', 'Data Science'}

**Method**	Description <br>
add()	Adds an element to the set <br>
clear()	Removes all the elements from the set <br>
copy()	Returns a copy of the set <br>
difference()	Returns a set containing the difference between two or more sets <br>
difference_update()	Removes the items in this set that are also included in another, specified set <br>
discard()	Remove the specified item <br>
intersection()	Returns a set, that is the intersection of two other sets <br>
intersection_update()	Removes the items in this set that are not present in other, specified set(s) <br>
isdisjoint()	Returns whether two sets have a intersection or not <br>
issubset()	Returns whether another set contains this set or not <br>
issuperset()	Returns whether this set contains another set or not <br>
pop()	Removes an element from the set <br>
remove()	Removes the specified element <br>
symmetric_difference()	Returns a set with the symmetric differences of two sets <br>
symmetric_difference_update()	inserts the symmetric differences from this set and another <br>
union()	Return a set containing the union of sets <br>
update()	Update the set with the union of this set and others <br>