# Python Foundation

In [1]:
x = 54
y = "Sohel"
z = 'MD SOHEL'

print(x)
print(y)
print(z)

54
Sohel
MD SOHEL

In [2]:
myvar = "Variable Name"
MyVar = 'Variable Name Case Sensitive'

print(myvar)
print(MyVar)

Variable Name
Variable Name Case Sensitive

In [3]:
# Multiple Variable Assign

m, n, o, p = 'eData', "Sohel Tech", 101, 'Multiple Variable Assign'

print(m)
print(n)
print(o)
print(p)

eData
Sohel Tech
101
Multiple Variable Assign

In [4]:
a = 'Learning Python for Data Science'
b = "Learning "
c = "Python"
d = ' For'
e = " Data Science"

print(a)
print(b + c + d + e)

Learning Python for Data Science
Learning Python For Data Science

In [5]:
print(b + c + d + e + " & Analytics")

Learning Python For Data Science & Analytics

**Python Data Types**

In [6]:
xx = 'eData Set'
print(type(xx))

<class 'str'>

In [7]:
x = 25

print(type(x))

<class 'int'>

In [8]:
x = 10.08

print(type(x))

<class 'float'>

In [9]:
x = 14j

print(type(x))

<class 'complex'>

In [10]:
x  = [10, 20, 30]

print(type(x))

<class 'list'>

In [11]:
x = ('Apple', 'Google', "Tesla")

print(type(x))

<class 'tuple'>

In [12]:
x = {'Name': 'SOHEL', 'Profession': "Data Science", 'Exp': '3 Years'}

print(type(x))

<class 'dict'>

In [13]:
x = {'Microsoft', 'IBM', 'Dell', 'SQL'}

print(type(x))

<class 'set'>

In [14]:
x = frozenset({'Microsoft', 'IBM', 'Dell', 'SQL'})

print(type(x))

<class 'frozenset'>

In [15]:
x = True
y = False

print(type(x))
print(type(y))

<class 'bool'>
<class 'bool'>

In [16]:
x = b"Hello Py"

print(type(x))

<class 'bytes'>

In [17]:
x = range(5)

print(x)

print(type(x))

range(0, 5)
<class 'range'>

In [18]:
x = bytearray(3)

print(x)

print(type(x))

bytearray(b'\x00\x00\x00')
<class 'bytearray'>

In [19]:
x = memoryview(bytes(4))

print(x)

print(type(x))

<memory at 0x000001D3B16D0AC0>
<class 'memoryview'>

In [20]:
x = None

print(x)

print(type(x))

None
<class 'NoneType'>

In [21]:
# Python Casting
# Specify a Variable Type

x = int(20)
y = int(5.6)
z = int('3')

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

20
5
3
<class 'int'>
<class 'int'>
<class 'int'>

In [22]:
x = float(10)
y = float(6.5)
z = float("8.0")

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

10.0
6.5
8.0
<class 'float'>
<class 'float'>
<class 'float'>

In [23]:
x = str('H1B')
y = str(100)
z = str(4.3)

print(x)
print(y)
print(z)

print(type(x))
print(type(y))
print(type(z))

H1B
100
4.3
<class 'str'>
<class 'str'>
<class 'str'>

## Python String

In [24]:
message = "I write string message in Python Jupyter Notebook on 7/4/2023 written by SOHEL!"

print(message)

I write string message in Python Jupyter Notebook on 7/4/2023 written by SOHEL!

In [25]:
name = "SOHEL"
skills = 'Python, SQL, Power BI, Excell!'

print(f"Hi, I'm {name}. I have skills on {skills}")

Hi, I'm SOHEL. I have skills on Python, SQL, Power BI, Excell!

In [26]:
msg = 'I\'m interested to learn Python, SQL, Power BI, Excell!'

print(msg)

I'm interested to learn Python, SQL, Power BI, Excell!

In [27]:
msg = f'I\'m interested to learn {skills}'

print(msg)

I'm interested to learn Python, SQL, Power BI, Excell!

In [28]:
help_msg = '''
    Name: SOHEL
    Age: 25
    Skills: Data Analyst
    Occupation: Start-up
    Company: eData Analytix
    Location: Estonia
    Service Day: Mon-Fri
    Office Hours: 9am-5pm
    Contact: ceo@edata.io
    Phone: 014 xxxx xxxx
    Payment Method: Wise, Stripe, Paypal
'''

print(help_msg)

    Name: SOHEL
    Age: 25
    Skills: Data Analyst
    Occupation: Start-up
    Company: eData Analytix
    Location: Estonia
    Service Day: Mon-Fri
    Office Hours: 9am-5pm
    Contact: ceo@edata.io
    Phone: 014 xxxx xxxx
    Payment Method: Wise, Stripe, Paypal

In [29]:
# String Lenth

a = "Welcome to eData Analytix"

print(len(a))

25

In [30]:
# Check String

txt = "Data Analyst skill required SQL, Excell, Python, Tableu, Power BI"

print("Python" in txt)

True

In [31]:
txt = "Data Analyst skill required SQL, Excell, Python, Tableu, Power BI"

if 'Data' in txt:
    print('Yes, "Data" is present on txt!')

Yes, "Data" is present on txt!

In [32]:
txt = "Data Analyst skill required SQL, Excell, Python, Tableu, Power BI"

if 'Data Science' in txt:
    print('Yes, Data Science is present on txt!')
else:
    print('No, Data Science is not present on txt!')

No, Data Science is not present on txt!

In [33]:
# Check not string

txt = "Data Analyst skill required SQL, Excell, Python, Tableu, Power BI"

print("Numpy" in txt)

False

In [34]:
txt = "Data Analyst skill required SQL, Excell, Python, Tableu, Power BI"

print("Numpy" not in txt)

True

In [35]:
txt = "Data Analyst skill required SQL, Excell, Python, Tableu, Power BI"

if 'Data Science' not in txt:
    print("Yes, \"Data Science\" is not present on txt!")

Yes, "Data Science" is not present on txt!

In [36]:
txt = "Data Analyst skill required SQL, Excell, Python, Tableu, Power BI"

if 'Microsoft' not in txt:
    print('No, \'Microsoft\' is not present on txt!')
else:
    print('Yes, \'Microsoft\' is present on txt!')

No, 'Microsoft' is not present on txt!

**Python - Slicing Strings**

In [37]:
# Slicing

text = "Python is Awsome"

print(text)
print(text[0:7])
print(text[-6:-1])

Python is Awsome
Python
Awsom

In [38]:
# slice from the start

text = "Data Science is Awsome"

print(text[:5])

Data

In [39]:
# slice from the End

text = "Data Science is Awsome"

print(text[-6:])

Awsome

In [40]:
# Negative Indexing

text = "Data Analyst is Great Carrer"

print(text)
print(text[-12:-7])

Data Analyst is Great Carrer
Great

Python - Modify Strings

In [41]:
# uppercase

txt = 'sql, excell'

print(txt.upper())

SQL, EXCELL

In [42]:
# Lowercase

txt = "PANDAS, NUMPY, MATPLOTLIB"

print(txt.lower())

pandas, numpy, matplotlib

In [43]:
# Remove White Space

txt = " R is great for Data visualization! "

print(txt)
print(txt.strip())

 R is great for Data visualization!
R is great for Data visualization!

In [44]:
# Replace String

txt = 'SQL, Python, R, Power BI, Excell'

print(txt)
print(txt.replace('R', 'Tableu'))

SQL, Python, R, Power BI, Excell
SQL, Python, Tableu, Power BI, Excell

In [45]:
# Split String Methods Become Lists

analyst = 'Excell SQL Python Numpy Matplotlib Pandas Beautiful-Soup Power-BI'

print(analyst)
print(analyst.split())

Excell SQL Python Numpy Matplotlib Pandas Beautiful-Soup Power-BI
['Excell', 'SQL', 'Python', 'Numpy', 'Matplotlib', 'Pandas', 'Beautiful-Soup', 'Power-BI']

In [46]:
print(analyst.split()[1])

SQL

In [47]:
print(analyst.split()[1:3])

['SQL', 'Python']

In [48]:
print(analyst.split()[-1])

Power-BI

In [49]:
# String Concatenation

py = "Numpy Pandas"

ex = 'Pivot Table, IF condition, XLOOKUP, VLOOKUP'

sql = "Data Definition, Data Manipulation, Left Join, Right Join, Inner Join"

python = "Python Library "  + py

print(python)

print(f'Excell functions are {ex}')

print(ex + " - " + sql)

Python Library Numpy Pandas
Excell functions are Pivot Table, IF condition, XLOOKUP, VLOOKUP
Pivot Table, IF condition, XLOOKUP, VLOOKUP - Data Definition, Data Manipulation, Left Join, Right Join, Inner Join

In [50]:
age = 36
txt = "My name is John, I am " + age
print(txt)

TypeError: can only concatenate str (not "int") to str

#### Python - Strings - Format

In [51]:
# Use the format() method to insert numbers into strings:

yr = 3

exp = 'I have {} years experience in Data Science'

print(exp.format(yr))

I have 3 years experience in Data Science

In [52]:
yr = 2

cas = 'Data Science'

skills = 'SQL Python Excell Power-BI Tableu'

txt = "I have {} years Experience in {} field. My strong knowledge on {}."

print(txt.format(yr, cas, skills))

I have 2 years Experience in Data Science field. My strong knowledge on SQL Python Excell Power-BI Tableu.

#### Python - Escape Characters

In [53]:
pymsg = "Here, I skip "Data Science" word."

print(pymsg)

SyntaxError: invalid syntax (179670738.py, line 1)

In [ ]:
pymsg = "Here, I skip \"Data Science\" word."

print(pymsg)

In [ ]:
smsg = 'Single \'Quote\' Message Here'

print(smsg)

In [ ]:
ntxt = "I create \nNew Line"

print(ntxt)

In [ ]:
rtxt = "Carrige \rReturn"

print(rtxt)

In [ ]:
tab = "Create Tab with \n\tNew Line"

print(tab)

In [ ]:
bs = "Use Back \bSpace"

print(bs)

#### Python String Method

In [54]:
# Capitalize

x = "data Science - Python: Numpy, pandas, Matplotlib, machine learning"

print(x.capitalize())

Data science - python: numpy, pandas, matplotlib, machine learning

In [55]:
# Casefold

x = "USD, UAE, GBP, EUR, CAD, SAR, INR, BDT, NZD, AUD, SGD"

print(x.casefold())

usd, uae, gbp, eur, cad, sar, inr, bdt, nzd, aud, sgd

In [56]:
# CENTER 

x = 'Data Analytics is the Best Carrer!'

print(x.center(90,'-'))

----------------------------Data Analytics is the Best Carrer!----------------------------

In [57]:
# Count

x = 'Python is Good For Data Science, Python is also use For Backend Web Development'

print(x.count('Python'))

2

In [58]:
# Count By specific position

x = 'Python is Good For Data Science, Python is also use For Backend Web Development'

print(x.count('Python', 10, 50))

1

In [59]:
# endswith()

x = 'Excell is good for data analysis'

print(x.endswith('analysis'))

True

In [60]:
x = 'Excell is good for data analysis'

print(x.endswith('data', 18, 23))

True

In [61]:
x = 'Excell is good for data analysis'

print(x.endswith('data'))

False

In [62]:
# Expands Tab ()

x = "DATA\tSCIENCE"

print(x)
print(x.expandtabs())
print(x.expandtabs(1))
print(x.expandtabs(4))
print(x.expandtabs(10))

DATA	SCIENCE
DATA    SCIENCE
DATA SCIENCE
DATA    SCIENCE
DATA      SCIENCE

In [63]:
# FIND()

x = "Kaggle is good for practice Data Science"

print(x)
print(x.find('Data'))

Kaggle is good for practice Data Science
28

In [64]:
x = "Kaggle is good for practice Data Science"

print(x)
print(x.find('Data Analysis'))

Kaggle is good for practice Data Science
-1

In [65]:
# Index

x = "Kaggle is good for practice Data Science"

print(x)
print(x.index('Data'))

Kaggle is good for practice Data Science
28

In [66]:
x = "Kaggle is good for practice Data Science"

print(x)
print(x.index('Kaggle', 0, 10))

Kaggle is good for practice Data Science
0

In [67]:
# Find return -1 when value is not found
# Index return ValueError Message when value is not found

x = "Kaggle is good for practice Data Science"

print(x)
print(x.find('Data', 0, 10))
print(x.index('Data', 0, 10))

Kaggle is good for practice Data Science
-1

ValueError: substring not found

In [68]:
x = "Kaggle is good for practice Data Science"

print(x)
print(x.find('Science'))
print(x.index('Science'))

Kaggle is good for practice Data Science
33
33

In [69]:
# upper

x = "gbp rate is greater than Euro"

print(x.upper())

GBP RATE IS GREATER THAN EURO

In [70]:
# Lower

x = 'DHAKA IS THE CITY OF MOSQUE!'

print(x.lower())

dhaka is the city of mosque!

In [71]:
# isupper
# islower

x = "WELCOME TO DATA SCIENCE WORLD"

y = 'django is the best for web app development'

print("X - " + x +"\nY - " + y)

print(f"X is Lower Case: {x.islower()}")
print(f"Y is Lower Case: {y.islower()}")
print(f"X is Upper Case: {x.isupper()}")
print(f"Y is Upper Case: {y.isupper()}")

X - WELCOME TO DATA SCIENCE WORLD
Y - django is the best for web app development
X is Lower Case: False
Y is Lower Case: True
X is Upper Case: True
Y is Upper Case: False

### Control Flow

In [72]:
age = input('Enter your age: ')
if int(age) >= 18:
    print("\n\tYou're eligible to vote.")
else:
    print("\n\tYou're not eligible to vote.")

Enter your age: 24

	You're eligible to vote.

In [73]:
age = input('Enter your age: ')

ticket_price = 20 if int(age) >= 18 else 5

print(f"Ticket Price BDT {ticket_price} TK")

Enter your age: 13
Ticket Price BDT 5 TK

In [74]:
# For Loop

for index in range(5):
    print(index)

0
1
2
3
4

In [75]:
for index in range(5):
    print(index + 1)

1
2
3
4
5

In [76]:
# range(start, stop)

for index in range(100, 105):
    print(index)

100
101
102
103
104

In [77]:
# range(start, stop)

for index in range(100, 105):
    print(index + 1)

101
102
103
104
105

In [78]:
# range(start, stop, step)

for index in range(1, 10, 2):
    print(index)

1
3
5
7
9

In [79]:
# range(start, stop, step)

for index in range(1, 10, 2):
    print(index + 1)

2
4
6
8
10

In [80]:
# range(start, stop, step)

for index in range(0, 11, 2):
    print(index)

0
2
4
6
8
10

In [81]:
# range(start, stop, step)

for index in range(0, 10, 3):
    print(index)

0
3
6
9

In [82]:
# range(start, stop, step)

for index in range(1, 11, 3):
    print(index + 2)

3
6
9
12

In [83]:
sum = 0

for num in range(10):
    sum += num

print(sum)

45

In [84]:
# While Loop

max = 5
counter = 0

while counter < max:
    print(counter)
    counter += 1

0
1
2
3
4

In [85]:
command = ''

while command.lower() != 'quit':
    command = input('>')
    print(f"Echo: {command}")

>Hi
Echo: Hi
>Sohel
Echo: Sohel
>Good Day!
Echo: Good Day!
>Quit
Echo: Quit

In [86]:
# Using Python break with for loop
for index in range(0, 10):
    print(index)
    if index == 3:
        break

0
1
2
3

In [87]:
for x in range(5):
    for y in range(5):
        # terminate the innermost loop
        if y > 1:
            break
        # show coordinates on the screen
        print(f"({x},{y})")

(0,0)
(0,1)
(1,0)
(1,1)
(2,0)
(2,1)
(3,0)
(3,1)
(4,0)
(4,1)

In [88]:
# Type quit to exit the Loop

print('-- Help: type quit to exit --')
while True:
    color = input('Enter your favorite color:')
    if color.lower() == 'quit':
        break

-- Help: type quit to exit --
Enter your favorite color:Blue
Enter your favorite color:Light Blue
Enter your favorite color:Purple
Enter your favorite color:quiT

In [89]:
# Python continue statement

for index in range(10):
    if index % 2:
        continue

    print(index)

0
2
4
6
8

In [90]:
# Python continue statement

for index in range(10):
    if not index % 2:
        continue

    print(index)

1
3
5
7
9

In [91]:
# print the even numbers 
counter = 0
while counter < 10:
    counter += 1

    if counter % 2:
        continue

    print(counter)

2
4
6
8
10

In [92]:
# print the odd numbers 
counter = 0
while counter < 10:
    counter += 1

    if not counter % 2:
        continue

    print(counter)

1
3
5
7
9

In [93]:
# Python pass statement

counter = 1
max = 10
if counter <= max:
    counter += 1
    print(counter)
else:
    pass

2

## Python Function

In [94]:
# Function define def

def greet():
    print("Hi, Good Day!")
    
# Function Call

greet()

Hi, Good Day!

In [95]:
# Functions Define With Variables

def greet(name):
    print(f"Hi {name}")
    
greet("Sohel")

Hi Sohel

In [96]:
name = "Mohammad"

greet(name)

Hi Mohammad

In [97]:
# Functions With Return

def gret(name):
    return f"Hi {name}"

gret("Sohel")

'Hi Sohel'

In [98]:
greets = gret('Sohag')

print(greets)

Hi Sohag

In [99]:
# Adding Two Variables

def sum(a, b):
    return a + b

sum(10, 20)

30

In [100]:
total = sum(80, 20)
print(total)

100

In [101]:
def greetings(name, country):
    print(f"Hi, Everyone, I'm {name} from {country}")
    
greetings('Sohel', "Bangladesh")

Hi, Everyone, I'm Sohel from Bangladesh

In [102]:
def greetings(name, country):
    return f"Hi, Everyone, I'm {name} from {country}"
    
greetings('Sohel', "Bangladesh")

"Hi, Everyone, I'm Sohel from Bangladesh"

In [103]:
greete = greetings('Sohag', "Bangladesh")

print(greete)

Hi, Everyone, I'm Sohag from Bangladesh

In [104]:
# Functions with default Parameter

def greet(name, message='Hi'):
    return f"{message} {name}"

greet('Sohag', message = "Hi")

'Hi Sohag'

In [105]:
greet('Sohag', 'Mahmud')

'Mahmud Sohag'

In [106]:
# Default Parameter

greet('Sohel')

'Hi Sohel'

In [107]:
# Python Keyword Argument

def get_net_price(price, discount_in_percent):
    Cal = price * ((100 - discount_in_percent)/100)
    dis_money = price - Cal
    print(f"Price BDT : {price} TK\nDiscount : {discount_in_percent} %\nDiscount Amount BDT : {dis_money} TK")
    return f"Net Price BDT : {Cal} TK"

net_price = get_net_price(4000, 25)

print(net_price)

Price BDT : 4000 TK
Discount : 25 %
Discount Amount BDT : 1000.0 TK
Net Price BDT : 3000.0 TK

In [108]:
get_net_price(1700, 30)

Price BDT : 1700 TK
Discount : 30 %
Discount Amount BDT : 510.0 TK

'Net Price BDT : 1190.0 TK'

In [109]:
# Recursive function

def sum(n):
    total = 0
    for index in range(n+1):
        total += index

    return total


result = sum(10)

print(result)

55

In [110]:
# the recursive version of the sum() function

def sum(n):
    if n > 0:
        return n + sum(n-1)
    return 0

result = sum(5)

print(result)

15

In [111]:
# the recursive version of the sum() function 

def sum(n):
    return n + sum(n-1) if n > 0 else 0

result = sum(10)

print(result)

55

## Lamda Function

In [112]:
def first_last(first_name, last_name):
    return f"{first_name} {last_name}"

first_last("Sohel", 'Arman')

'Sohel Arman'

In [113]:
def last_first(first_name, last_name):
    return f"{last_name}, {first_name}"

last_first('Sohag', 'Mahmud')

'Mahmud, Sohag'

In [114]:
lambda first_name,last_name: f"{first_name} {last_name}"

In [115]:
def get_full_name(first_name, last_name, formatter):
    return formatter(first_name, last_name)


full_name = get_full_name(
    'Sohag',
    'Mahmud',
    lambda first_name, last_name: f"{first_name} {last_name}"
)
print(full_name)

full_name = get_full_name(
    'Sohag',
    'Mahmud',
    lambda first_name, last_name: f"{last_name}, {first_name}"
)
print(full_name)

Sohag Mahmud
Mahmud, Sohag

### Python Try___Except

In [116]:
try:
    # get input net sales
    print('Enter the net sales for')

    previous = float(input('- Prior period:'))
    current = float(input('- Current period:'))

    # calculate the change in percentage
    change = (current - previous) * 100 / previous

    # show the result
    if change > 0:
        result = f'Sales increase {abs(change)}%'
    else:
        result = f'Sales decrease {abs(change)}%'

    print(result)
except:
    print('Error! Please enter a number for net sales calculations.')

Enter the net sales for
- Prior period:122000
- Current period:113500
Sales decrease 6.967213114754099%

In [117]:
try:
    # get input net sales
    print('Enter the net sales for')

    previous = float(input('- Prior period:'))
    current = float(input('- Current period:'))

    # calculate the change in percentage
    change = (current - previous) * 100 / previous

    # show the result
    if change > 0:
        result = f'Sales increase {abs(change)}%'
    else:
        result = f'Sales decrease {abs(change)}%'

    print(result)
except ValueError:
    print('Error! Please enter a number for net sales.')

Enter the net sales for
- Prior period:2340
- Current period:kjds
Error! Please enter a number for net sales.

In [118]:
try:
    # get input net sales
    print('Enter the net sales for')

    previous = float(input('- Prior period:'))
    current = float(input('- Current period:'))

    # calculate the change in percentage
    change = (current - previous) * 100 / previous

    # show the result
    if change > 0:
        result = f'Sales increase {abs(change)}%'
    else:
        result = f'Sales decrease {abs(change)}%'

    print(result)
except ValueError:
    print('Error! Please enter a number for net sales.')
except ZeroDivisionError:
    print('Error! The prior net sales cannot be zero.')

Enter the net sales for
- Prior period:0
- Current period:5500
Error! The prior net sales cannot be zero.

In [119]:
try:
    # get input net sales
    print('Enter the net sales for')

    previous = float(input('- Prior period:'))
    current = float(input('- Current period:'))

    # calculate the change in percentage
    change = (current - previous) * 100 / previous

    # show the result
    if change > 0:
        result = f'Sales increase {abs(change)}%'
    else:
        result = f'Sales decrease {abs(change)}%'

    print(result)
except ValueError:
    print('Error! Please enter a number for net sales.')
except ZeroDivisionError:
    print('Error! The prior net sales cannot be zero.')
except Exception as error:
    print(error)

Enter the net sales for
- Prior period:50
- Current period:67
Sales increase 34.0%

In [120]:
try:
    # get input net sales
    print('Enter the net sales for')

    previous = float(input('- Prior period:'))
    current = float(input('- Current period:'))

    # calculate the change in percentage
    change = (current - previous) * 100 / previous

    # show the result
    if change > 0:
        result = f'Sales increase {abs(change)}%'
    else:
        result = f'Sales decrease {abs(change)}%'

    print(result)
except ValueError:
    print('Error! Please enter a number for net sales.')
except ZeroDivisionError:
    print('Error! The prior net sales cannot be zero.')
finally:
    print('Finishing up.')

Enter the net sales for
- Prior period:sjfd
Error! Please enter a number for net sales.
Finishing up.

## Read Txt File

In [121]:
with open('python_read.txt') as txt:
    contents = txt.read()
    print(contents)

Hi, Programmers.
This is txt file.
Author - SOHEL

In [122]:
with open('python_read.txt') as txt:
    [print(line) for line in txt.readlines()]

Hi, Programmers.

This is txt file.

Author - SOHEL